/* Header / Général */

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    height: 15vh;
    font-size: larger;
    display: flex;
    align-items: center;

    > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

        #logo {
            height: 10vh;
        }

        div {
            display: flex;
            width: 40%;
            font-size: 40px;
            justify-content: space-between;
            font-family: karla, sans-serif;
        }
    }
}

a {
    text-decoration: none;
    color: #774D9A;
}

/* Accueil */

.hero {
    height: 85vh;
    background: url('../images/BabyBoomer2.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        width: 75%;
        height: 60%;
        background-color: #f4f4f445;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hero {
        width: 75%;
    }

    a {
        width: 30%;
        text-align: center;
        margin-top: 4vh;
        background-color: #774D9A60;
        border-radius: 25px;

        p {
            color: white;
            font-size: 40px;
        }
    }
}

.acc2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
        display: flex;
        margin-top: 50px;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 75%;
        justify-content: space-between;

        div:nth-child(1) {
            display: flex;
            width: 600px;
            flex-direction: column;
            justify-content: center;
            background: url("../images/nails.png") no-repeat center;
            background-size: cover;
            aspect-ratio: 1 / 1;
        }

        div:nth-child(2) {
            width: 40%;

            h1 {
                font-size: 65px;
                margin-bottom: 0;
            }

            p {
                font-size: 45px;
                font-style: italic;
            }
        }

        p {
            font-size: 35px;
        }
    }
}
