{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-image-wrapper">
            <img id="hero" src="{{ asset('images/hero.svg') }}" alt="Image hero">
        </div>
        <a href="#" class="hero-button">
            <p>Réserver ma séance</p>
        </a>
    </section>
    <section class="acc2">

    </section>
{% endblock %}
